@model Presentation1.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Редактирование книги Guid";
}
<div class="row">
    <div class="col-12">
        <h1 class="mb-3">Редактирование книги</h1>

        <form asp-action="EditBook" asp-controller="Book" method="POST" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="fio" class="form-label" asp-for="Name">Название</label>
                <input type="text" class="form-control" id="name" asp-for="Name">
            </div>
            <div class="mb-3">
                <label for="House" class="form-label" asp-for="Price">Цена</label>
                <input type="text" class="form-control" id="Price" asp-for="Price">
            </div>
            <div class="mb-3">
                <label for="Entrance" class="form-label" asp-for="Description">Описание</label>
                <input type="text" class="form-control" id="Description" asp-for="Description">
            </div>
            <div class="mb-3">
                <label for="Entrance" class="form-label" asp-for="Title">Title</label>
                <input type="text" class="form-control" id="Title" asp-for="Title">
            </div>

            <div class="text-danger" asp-validation-summary="All"></div>
            <button type="submit" class="btn btn-primary">Изменить</button>
        </form>
    </div>
</div>